<!DOCTYPE html>
<html lang="en">
<head>
  <title>Showrunner</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
<body>
  <%- include('partials/messages'); %>
  <p>Reset Your Password</p>
  <form method="post" action="/users/reset">
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Email" name="userEmail"/>
    <input type="hidden" value="notLogged" name="notLogged"/>
    <input type="submit" value="Reset Password"/>
  </form>
  <a href="/">Home</a>
</body>
</html>