<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/png" sizes="32x32" href="" />
  <link rel="icon" type="image/png" sizes="96x96" href="" />
</head>

<body>
  <%- body %>
</body>

</html>