<%- include('partials/messages'); %>

<p>Change Your Password</p>
<p>Must contain at least six characters</p>
<p>Must contain one capital letter</p>
<p>Recommend at least one number</p>
<p>Recommend at least one special symbol ( e.g. @#$%! )</p>
<p id="capsLockWarning">Warning: Caps lock is on</p>
<form method="post" action="/users/changePassword">

    <label for="password">New Password</label>
    <input type="password" id="password" placeholder="Password" name="newpassword">

    <label for="verifypassword">Verify New Password</label>
    <input type="password" id="verifypassword" placeholder="Verify Password" name="newpassword2">

    <input type="hidden" value="" name="userEmail" id="setEmail">

    <input type="hidden" value="" name="token" id="setToken">

    <input type="submit" class="btn btn-primary" value="Change Password" style="width:auto;">

    <button id="showButton" class="btn btn-primary">Password Visibility</button>

</form>

<script>
    window.addEventListener('DOMContentLoaded', (e) => {

        var urlParams = new URLSearchParams(window.location.search);

        var token = urlParams.get('token');

        document.getElementById("setToken").value = token;

        var email = urlParams.get('email');

        document.getElementById("setEmail").value = email

    });

    document.getElementById("showButton").addEventListener("click", function (e) {
        e.preventDefault();
        var pwd = document.getElementById("firstfieldnpr");
        if (pwd.getAttribute("type") == "password") {
            pwd.setAttribute("type", "text");
        } else {
            pwd.setAttribute("type", "password");
        }
        var pwd2 = document.getElementById("firstfieldnpr2");
        if (pwd2.getAttribute("type") == "password") {
            pwd2.setAttribute("type", "text");
        } else {
            pwd2.setAttribute("type", "password");
        }
    });

    let passwordField = document.getElementById("firstfieldnpr");
    let capsLockWarning = document.getElementById("capsLockWarning");

    passwordField.addEventListener('keydown', function (event) {
        var caps = event.getModifierState && event.getModifierState('CapsLock');
        if (caps) {
            capsLockWarning.style.display = "block";
        } else {
            capsLockWarning.style.display = "none";
        }
        console.log(caps); // true when you press the keyboard CapsLock key
    });
</script>